name: Script Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Download repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Run script
      run: |
        python scripts/script_generator.py
# - name: Upload generated script
#   uses: actions/upload-artifact@v3
#   with:
#     name: generated-script
#     path: scripts/script_generator.py
